<div class="container ml-auto mr-auto mt-10 flex flex-col w-1/2">
    <h2 class="self-center">SIGN UP</h2>

    <form class="flex flex-col justify-content text-gray-600">
        <div class="m-3 flex flex-col gap-2">
            <label class="block" for="firstName">First Name</label>
            <input class="block w-full border" name="firstName" />
        </div>
        <div class="m-3 flex flex-col gap-2">
            <label class="block" for="lastName">Last Name</label>
            <input class="block w-full border" name="lastName" />
        </div>
        <div class="m-3 flex flex-col gap-2">
            <label class="block" for="email">Email</label>
            <input class="block w-full border" name="email" />
        </div>
        <div class="m-3 flex flex-col gap-2">
            <label class="block" for="password">Password</label>
            <input class="block w-full border" name="password" />
        </div>
        <div class="m-3 flex flex-col gap-2">
            <label class="block" for="confirmPassword">Confirm Password</label>
            <input class="block w-full border" name="confirmPassword" />
        </div>
    
        <div class="m-3 flex flex-col gap-2">
            <button class="bg-indigo-600 rounded-md p-2 text-white w-full">Sign Up</button>
        </div>
    </form>
</div>

